valle.egg-info/
__pycache__
path.sh
exp
exp*/
*.pt
log
.DS_Store
.vscode
egs/*/data
egs/libritts/prompts/*.png
valle/version.py
infer/
examples/libritts/download/
examples/libritts/logs/
traceableSpeech/
egs/libritts/download/
egs/libritts/logs/
*.pth
*.out
egs/*/models/
egs/*/logs/

synthesized_data/
egs/*/synthesized_data/
.d*
*.err
egs/libritts/audio_samples_comparison/
*.log
